<!DOCTYPE html>
<html>
	<head th:replace="fragments/header :: header">
		<meta charset="UTF-8" />
	</head>
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		
		<div class="container">
			<div class="row">
				<main class="col-xl pt-4">
				
					<div th:if="${message}">
						<div class="alert alert-danger" role="alert">
							<div th:text="${message}"></div>
						</div>
					</div>
					
					<h1>Usuários</h1>
					
					<form action="/usuario/salvar" method="POST">
						<div class="form-group">
					    	<label for="codigo">Código</label>
					    	<input type="text" class="form-control" id="id" name="id" readonly="readonly" th:value="${usuario.id}" />
					  	</div>
					  	
					  	<div class="form-group">
					    	<label for="nome">Usuário</label>
					    	<input type="text" class="form-control" id="nome" name="nome" th:value="${usuario.nome}" required="required" autofocus="autofocus" />
					  	</div>
					  	
					  	<div class="form-group">
					    	<label for="senha">Senha</label>
					    	<input type="password" class="form-control" id="senha" name="senha" th:value="${usuario.senha}" required="required" />
					  	</div>
					  	
					  	<div class="form-group row">
						    <div class="col-sm-10">
						    	<button type="submit" class="btn btn-primary">Salvar</button>
						    	<a href="/usuario" class="btn btn-secondary">Voltar</a>
							</div>
						</div>
					</form>
			
				</main>
			</div>		
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>
