<!DOCTYPE html>
<html>
	<head th:replace="fragments/header :: header">
		<meta charset="UTF-8" />
	</head>
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		
		<div class="container">
			<div class="row">
				<main class="col-xl pt-4">
				
					<div th:if="${message}">
						<div class="alert alert-success" role="alert">
							<div th:text="${message}"></div>
						</div>
					</div>
					
					<h1>Questões</h1>
					
					<div class="btn-toolbar float-right" role="toolbar">
						<div class="btn-group btn-group-lg">
							<a class="btn btn-primary" href="/questao/novo" role="button">Novo</a>
						</div>				
					</div>
					
					<table class="table">
						<thead>
							<tr>
							  <th scope="col">Código</th>
							  <th scope="col">Resposta</th>
							  <th scope="col">#</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="questao : ${questoes}">
								<tr>
									<td th:text="${questao.id}" scope="row"></td>
									<td th:text="${questao.descricao}"></td>
									<td>
										<div class="container">
											<div class="row">
												<div class="col-4">
													<form action="/questao/editar">
														<input type="hidden" name="id" th:value="${questao.id}" />
												    	<button type="submit" class="btn btn-secondary">Editar</button>
												    </form>
											    </div>
											    <div class="col-4">
												    <form action="/questao/excluir">
												    	<input type="hidden" name="id" th:value="${questao.id}" />
												    	<button type="submit" class="btn btn-danger">Excluir</button>
												    </form>
											    </div>
									    	</div>
									    </div>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
		
				</main>
			</div>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>
