<meta charset="UTF-8" />

<header th:fragment="header">
	<title>LetUsKnow - App de pesquisas</title>
	
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="/css/style.css" />

	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	
</header>
